@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Poppins";

}

.container {
    min-height: 150px;
    height: fit-content;
    width: 300px;
    background-color: rgb(135, 123, 226);
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 5px rgb(95, 95, 95);

}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

input[type="text"] {
    box-sizing: border-box;
    width: 250px;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    border: 3px black;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    margin-top: 15px;
}

#add {
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(253, 57, 119);
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 550px;
    cursor: pointer;
}

.delete {

    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(234, 50, 50);
    font-weight: 550px;
    cursor: pointer;
    color: white;

}

.finish {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(69, 208, 23);
    font-weight: 550px;
    cursor: pointer;
    color: white;
}

.list-items li {
    display: flex;
    width: auto;
    background-color: rgb(235, 162, 137);
    gap: 10px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    gap: 10px;
}