*{
   margin: 0;
   padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

body{
    height: 100vh;
    
    
    display: flex;
    justify-content: center;
   
    
}
.container{
  min-height: 150px;
  height: fit-content;
  width: 300px;
  background-color:rgb(135, 123, 226);
  margin-bottom: 100px;
  margin-top: 100px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  box-shadow:5px 5px 5px rgb(95, 95, 95);
    
}
h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

input[type="text"]{
      box-sizing: border-box;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    border: 3px  black;
    background-color: rgb(255, 255, 255);
    font-style:italic ;
}

#add{
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(255, 47, 113);
        color: black;
        border: none;
        font-weight: 550px;
        cursor: pointer;
}
#del{
    
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(208, 23, 23);
    font-weight:550px;
    cursor: pointer;
    
}
#finish{
     padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(69, 208, 23);
    font-weight:550px;
    cursor: pointer;
}

.list-items li {
    display: flex;
    width: auto;
    background-color: rgb(235, 162, 137);
    gap: 10px;
    margin: 10px;
    justify-content: space-between;
    padding: 10px;
     border-radius: 5px;
     flex-wrap:wrap ;
}